<!DOCTYPE html>
<html>
<head>
	<title>Email Form Practice Idea</title>
</head>
<body>
	<div v-for="relationship in relationships">
		<relationship :relationship="relationship" :active.sync="active" inline-template>
			<div>
				<span>{{ relationship.type }}</span>

				<button @click="setActiveRelationship" v-show="relationship.type !== active.type">Select
				</button>

				<span v-else>
					Selected
				</span>
			</div>
		</relationship>	
	</div>

	<div>
		<form>
			<label for="first">First Name:</label>
				<input type="text" v-model="first" id="first"></input></br>
			<label for="last">Last Name:</label>
				<input type="text" v-model="last" id="last"></input>
			<button type="submit">Submit</button>
		</form>		
	</div>

	<div v-show="first">
		<h1>A Message from Arnold</h1>
		<p>Hi {{ fullName }}, I thank you for taking the time to visit this email form.</p>
	</div>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.js"></script>
		<script>
		Vue.component('relationship', {
			props: ['relationship', 'active'],

			methods: {
				setActiveRelationship: function() {
					this.active = this.relationship
				}
			}
		});
		new Vue({
			el: 'body',

			data: {
				first : '',
				last : '',
				fullName: '',
				relationships: [
					{ type: 'Employer', id: 1},
					{ type: 'Friend', id: 2},
					{ type: 'Potential Client', id: 3},
					{ type: 'Existing Client', id: 4}
				],
				active: {}
			},

			computed: {
				fullName: function() {
					return this.first + ' ' + this.last;
				}
			}
			
		});
		</script>
</body>
</html>