<!DOCTYPE html>
<html>
<head>
	<title>Email Form Practice Idea</title>
</head>
<body>
	<div v-for="relationship in relationships">
		<relationship :relationship="relationship" :active.sync="active"></relationship>	
	</div>

	<form>
		<input type="text" v-model="info.firstName"></input>
	</form>

	<div v-for="name in info">
	<!--binds info property into objects of 'name' which is made up in parent iterations of info in v-for-->
		<nameinputs :info="name"></nameinputs>
	</div>

	<template id="relationship-template">
		<div>
			<span>{{ relationship.type }}</span>

			<button @click="setActiveRelationship" v-show="relationship.type !== active.type">Select
			</button>

			<span v-else>
				Selected
			</span>
		</div>
	</template>

	<template id="name-input">
		<span> {{ info.firstName }} </span>
		<span>{{ info.lastName }}</span>
		<span>{{ info.fullName }}</span>
	</template>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.js"></script>
		<script>

		Vue.component('nameinputs', {
			template: '#name-input',

			props: ['info']

		});

		Vue.component('relationship', {
			template: '#relationship-template',
			
			props: ['relationship', 'active'],

			methods: {
				setActiveRelationship: function() {
					this.active = this.relationship
				}
			}
		});

		

		new Vue({
			el: 'body',

			data: {
				info: [
					{ firstName: 'Arnold' },
					{ lastName: 'Llanes'},
				    { fullName: 'Arnold Llanes'},
				],

				relationships: [
					{ type: 'Employer', id: 1},
					{ type: 'Friend', id: 2},
					{ type: 'Potential Client', id: 3},
					{ type: 'Existing Client', id: 4}
				],
				active: {}
			},

			computed: {
				fullName: function() {
					return this.first + ' ' + this.last;
				}
			}
			
		});
		</script>
</body>
</html>